<div class="col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">Signup</div>
        <div class="panel-body">
            <form name="signup_form" novalidate ng-submit="signup()">

                <div class="form-group">
                    <label class="control-label">Username</label>

                    <div ng-class="{'has-error':signup_form.username.$dirty && signup_form.username.$invalid}">
                        <input type="text"
                               class="form-control"
                               placeholder="Desired username"
                               name="username"
                               ng-model="username"
                               ng-minlength=3
                               ng-maxlength=20
                               ensure-unique required/>
                    </div>

                    <div ng-show="signup_form.username.$dirty && signup_form.username.$invalid"
                         ng-class="{'has-error':signup_form.username.$dirty && signup_form.username.$invalid}">
                        <small class="help-block" ng-show="signup_form.username.$error.required">Please input a
                            username
                        </small>
                        <small class="help-block" ng-show="signup_form.username.$error.minlength">Your username is
                            required to be at
                            least 3 characters
                        </small>
                        <small class="help-block" ng-show="signup_form.username.$error.maxlength">Your username cannot
                            be longer than
                            20 characters
                        </small>
                        <small class="help-block" ng-show="signup_form.username.$error.unique">That username is taken,
                            please try
                            another
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class=" control-label">Your email</label>

                    <div ng-class="{'has-error':signup_form.email.$dirty && signup_form.email.$invalid}">
                        <input type="email"
                               overwrite-email
                               class="form-control"
                               placeholder="Email"
                               name="email"
                               ng-model="email"
                               ng-minlength=3 ng-maxlength=20 required/>
                    </div>
                    <div
                            ng-show="signup_form.email.$dirty && signup_form.email.$invalid"
                            ng-class="{'has-error':signup_form.email.$dirty && signup_form.email.$invalid}">
                        <small class="help-block"
                               ng-show="signup_form.email.$error.required">
                            Your email is required.
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.email.$error.minlength">
                            Your email is required to be at least 3 characters
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.email.$error.email">
                            Please input a valid email.
                        </small>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Your password</label>

                    <div ng-class="{'has-error':signup_form.password.$dirty && signup_form.password.$invalid}">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               name="password"
                               ng-model="password"
                               ng-minlength=3
                               ng-maxlength=20
                               match="password" required/>
                    </div>
                    <div
                            ng-show="signup_form.password.$dirty && signup_form.password.$invalid"
                            ng-class="{'has-error':signup_form.password.$dirty && signup_form.password.$invalid}">

                        <small class="help-block"
                               ng-show="signup_form.password.$error.required">
                            Your password is required.
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.password.$error.minlength">
                            Your password is required to be at least 3 characters
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.password.$error.maxlength">
                            Your password cannot be longer than 20 characters
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class=" control-label">Repeat password</label>

                    <div ng-class="{'has-error':signup_form.verification.$dirty && signup_form.verification.$invalid}">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               name="verification"
                               ng-model="verification"
                               ng-minlength=3
                               ng-maxlength=20
                               match="password" required/>
                    </div>
                    <div
                            ng-show="signup_form.verification.$dirty && signup_form.verification.$invalid"
                            ng-class="{'has-error':signup_form.verification.$dirty && signup_form.verification.$invalid}">
                        <small class="help-block"
                               ng-show="signup_form.verification.$error.required">
                            Your password is required.
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.verification.$error.minlength">
                            Your password is required to be at least 3 characters
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.verification.$error.maxlength">
                            Your password cannot be longer than 20 characters
                        </small>
                        <small class="help-block"
                               ng-show="signup_form.verification.$error.match">Passwords don't match
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>


